<div class="white-row big-header-row">
  <div style="background-image: url(<%= asset_path 'intro1.jpg' %>);" class="profile-background">
    <div class="overlay" style=<%= flash.present? ? "top:186px;" : "" %>></div>
    <div class="content">
      <div class="container">
        <div class="row user-info">
          <div class="col-sm-5 col-xs-12">
            <% if @user.avatar.present? %>
              <div class="image"><%= image_tag @user.avatar.url(:medium), class: "user-photo" %></div>
            <% else %>
              <div class="image"><%= image_tag("user-default.png", class: "user-photo") %></div
            <% end %>
            <p><strong><%= "#{@user.name} #{@user.last_name}" %></strong></p>
            <p><%= @user.email %></p>
            <p><%= @user.address %></p>
            <p><%= @user.phone %></p>
            <p><%= @user.mobile_phone %></p>
            <p class="banner-cta"><div class="btn btn-yellow">mis puntos</div></p>
            <p><%= @user.points %></p>
          </div>
          <div class="col-sm-7 col-xs-12">
            <%= image_tag('user-profile-text.png', class: "profile-header-text-img hidden-xs") %>
            <div class="edit-profile-cta-wrapper">
              <%= link_to 'Editar perfil', edit_user_path(current_user) %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="white-row">
  <div class="container">
    <section class="user-purchases">
      <div class="row">
        <div class="col-md-12">
          <div class="heading">
            <h4 class="no-capitalized">Mis redenciones</h4>
            <% if @purchases.present? %>
              <p class="text-muted">Estos son los productos que has cambiado</p>
            <% else %>
              <h3 class="grey-text text-center">Todavía no has redimido ningún producto :(</h3>
            <% end %>
          </div>
        </div>
      </div>

      <% if @purchases.present? %>
        <% @purchases.each do |purchase| %>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="product">
              <div class="image">
                <%= link_to product_path(purchase.product) do %>
                  <%= image_tag purchase.product.image1.url(:medium), class: "img-responsive" %>
                <% end %>
                <!-- <div class="quick-view-button"><%= link_to 'Vista rápida', product_quick_view_path(id: purchase.product.id), remote: true, class:"btn btn-default btn-sm quick-view-btn" %></div> -->
              </div>
              <div class="card-text">
                <!-- <p class="brand"><a href="#">Quiksilver</a></p> -->
                <h3><%= link_to purchase.product.name, product_path(purchase.product) %></h3>
                <p class="price"><%="#{purchase.quantity} unidades x #{purchase.product.points} puntos"%></p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>

    </section>
  </div>
</div>






