
<div id="intro-slider">
  <div class="item intro-item">
    <!-- <div class="overlay"></div> -->
    <div class="content">
      <p><%= image_tag("logo-white-small.png", class: "img-responsive white-logo") %></p>
      <p class="banner-cta">
        <% if user_signed_in? %>
            <%= link_to 'mis puntos', user_path(current_user), class: "btn btn-yellow margin-top" %>
        <% else %>
          <%= link_to 'mis puntos', "#loginModal", "data-toggle" => "modal", class: "btn btn-yellow margin-top" %>
        <% end %>
      </p>
    </div>
  </div>
  <div class="item intro-item">
    <!-- <div class="overlay"></div> -->
    <div class="content">
      <p><%= image_tag("plataforma_de_puntos.png", class: "img-responsive plataforma-puntos") %></p>
    </div>
  </div>
  <div class="item intro-item">
    <!-- <div class="overlay"></div> -->
    <div class="content">
      <h3 class="banner-text no-uppercase">Redime todos tus puntos y llévate increibles premios</h3>
      <p><%= image_tag("plataforma_de_puntos.png", class: "img-responsive plataforma-puntos2") %></p>
    </div>
  </div>
</div>
<!-- /#intro-slider-->


<div class="white-row">
  <div class="container">
    <section>
      <!-- <div class="row">
        <div class="col-md-12">
          <div class="heading">
            <h4>Featured collections</h4>
          </div>
        </div>
      </div> -->
      <div class="row">
        <div class="col-sm-4 post">
          <% if user_signed_in? %>
            <%= link_to user_path(current_user), class: "margin-bottom image" do %>
              <%= image_tag("card-perfil.jpg", class: "img-responsive img-border") %>
            <% end %>
            <div class="card-text"><h3><%= link_to 'Perfil de Usuario', user_path(current_user) %></h3></div>
          <% else %>
            <%= link_to "#loginModal", "data-toggle" => "modal", class: "margin-bottom image" do %>
              <%= image_tag("card-perfil.jpg", class: "img-responsive img-border") %>
            <% end %>
            <div class="card-text"><h3><%= link_to 'Perfil de Usuario', "#loginModal", "data-toggle" => "modal" %></h3></div>
          <% end %>
        </div>

        <div class="col-sm-4 post">
          <%= link_to products_path, class: "margin-bottom image" do %>
            <%= image_tag("card-productos.jpg", class: "img-responsive img-border") %>
          <% end %>
          <div class="card-text"><h3><%= link_to 'Catálogo de productos', products_path %></h3></div>
        </div>
        <div class="col-sm-4 post">
          <%= link_to pages_faq_path, class: "margin-bottom image" do %>
            <%= image_tag("card-premios.png", class: "img-responsive img-border") %>
          <% end %>
          <div class="card-text"><h3><%= link_to '¿Cómo puedo ganar puntos?', pages_faq_path %></h3></div>
        </div>
      </div>
    </section>
  </div>
</div>


<div class="grey-row bar text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <!-- <div class="icon margin-bottom"><i class="fa fa-send"></i></div> -->
        <h3 class="grey-text">¡CONOCE LOS PRODUCTOS QUE ESPERAN POR TI!</h3>
        <p class="two-line-text";">Acumula tus puntos, ingresa, redímelos</p>
        <p class="two-line-text";"><strong>y llévate increibles premios.</strong> </p>
        <% if user_signed_in? %>
            <%= link_to 'mis puntos', user_path(current_user), class: "btn btn-yellow margin-top" %>
        <% else %>
          <%= link_to 'mis puntos', "#loginModal", "data-toggle" => "modal", class: "btn btn-yellow margin-top" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <section>
    <div id="blog-homepage" class="row">
      <div class="col-sm-6">
        <div class="post">
          <div class="image">
            <%= link_to pages_terms_and_conditions_path do %>
              <%= image_tag("blue-terms.png", class: "img-responsive") %>
            <% end %>
          </div>
          <div class="card-text"><h3>Términos y condiciones</h3></div>
          <p class="read-more"><%= link_to 'VER MAS', pages_terms_and_conditions_path, class: "btn btn-yellow" %></p>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="post">
          <div class="image">
            <%= link_to pages_faq_path do %>
              <%= image_tag("blue-card2.jpg", class: "img-responsive") %>
            <% end %>
          </div>
          <div class="card-text"><h3>¿Cómo puedo redimir mis puntos?</h3></div>
          <p class="read-more"><%= link_to 'VER MAS', pages_faq_path, class: "btn btn-yellow" %></p>
        </div>

      </div>
    </div>
  </section>
</div>
