<div class="white-row middle-header-row">
  <div style="background-image: url(<%= asset_path 'intro1.jpg' %>);" class="profile-background">
    <div class="overlay" style=<%= flash.present? ? "top:186px;" : "" %>></div>
    <div class="content">
      <div class="container">
        <div class="col-md-12">
          <div class="row page-top-middle">
            <div class="col-sm-10 col-sm-offset-1">
              <h5 class="grey-text">CARRITO DE COMPRAS</h5>
              <h1 class="grey-text">Redime tus puntos Montebianco</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container cart-container">

  <div id="basket" class="col-md-9">
    <div class="box">
      <!-- <form method="post" action="checkout1.html"> -->
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th colspan="2">Producto</th>
                <th>Cantidad</th>
                <th>Puntos por unidad</th>
                <th colspan="2">Total</th>
              </tr>
            </thead>
            <tbody>
              <% @shopping_cart.shopping_cart_items.each do |cart_item| %>
                <tr>
                  <td>
                    <%= link_to product_path(cart_item.item) do %>
                      <%= image_tag cart_item.item.image1.url(:medium), class: "thumb-img" %>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to product_path(cart_item.item) do %>
                      <%= cart_item.item.name %>
                    <% end %>
                  </td>
                  <td><input type="number" value=<%= cart_item.quantity %> class="form-control"></td>
                  <td><%= cart_item.price.to_i %></td>
                  <td><%= cart_item.subtotal.to_i %></td>
                  <%= form_tag({controller: "shopping_cart", action: "delete_item"}, method: "post") do %>
                    <%= hidden_field_tag('product_id', cart_item.item_id) %>
                    <%= hidden_field_tag('quantity', cart_item.quantity) %>
                    <td>
                      <%= button_tag(type: "submit", class: "delete-item-btn") do %>
                        <i class="fa fa-trash-o"></i>
                      <% end %>
                    </td>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="box-footer">
          <div class="pull-left">
            <%= link_to products_path, class: "btn btn-default btn-yellow" do %>
              <i class="fa fa-chevron-left"></i> Continuar comprando
            <% end %>
          </div>

          <div class="pull-right">
            <% unless @shopping_cart.shopping_cart_items.count > 0 %>
              <div class="col-md-12 col-sm-12">
                <h3 class="grey-text text-center">Tu carrito esta vacío</h3>
              </div>
            <% else %>
              <%= link_to shopping_cart_show_path, class: "btn btn-default btn-yellow" do%>
                <i class="fa fa-refresh"></i> Actualizar carrito
              <% end %>
              <button type="submit" class="btn btn-primary btn-yellow">Redimir <i class="fa fa-chevron-right"></i></button>
            <% end %>
          </div>
        </div>
      <!-- </form> -->
    </div>
    <!-- productos destacados-->
    <section class="products-similar">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <h3 class="grey-text">Otros productos que te podrían interesar</h3>
        </div>
        <!-- product-->
        <div class="col-md-3 col-sm-6">
          <div class="product">
            <div class="image"><a href="#"><%= image_tag("lampara-dorada.jpg", class: "img-responsive") %></a>
            </div>
            <div class="card-text">
              <h3> <a href="#">Lampara dorada</a></h3>
              <p class="price">143 puntos</p>
            </div>
          </div>
        </div>
        <!-- /product-->
        <!-- product-->
        <div class="col-md-3 col-sm-6">
          <div class="product">
            <div class="image"><a href="#"><%= image_tag("lampara-dorada.jpg", class: "img-responsive") %></a>
            </div>
            <div class="card-text">
              <h3> <a href="#">Lampara dorada</a></h3>
              <p class="price">143 puntos</p>
            </div>
          </div>
        </div>
        <!-- /product-->
        <!-- product-->
        <div class="col-md-3 col-sm-6">
          <div class="product">
            <div class="image"><a href="#"><%= image_tag("lampara-dorada.jpg", class: "img-responsive") %></a>
            </div>
            <div class="card-text">
              <h3> <a href="#">Lampara dorada</a></h3>
              <p class="price">143 puntos</p>
            </div>
          </div>
        </div>
        <!-- /product-->
      </div>
    </section>
    <!-- /similar products-->
  </div>
  <div class="col-md-3">
    <div id="order-summary" class="box">
      <div class="box-header">
        <h4>Total carrito</h4>
      </div>
      <div class="table-responsive">
        <table class="table">
          <tbody>
            <% @shopping_cart.shopping_cart_items.each do |cart_item| %>
              <tr>
                <td><%= cart_item.item.name %> x <%= cart_item.quantity %></td>
                <th><%= cart_item.subtotal.to_i %></th>
              </tr>
            <% end %>
            <tr class="total">
              <td>Total:</td>
              <th><%= @shopping_cart.subtotal.to_i %></th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>