<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ul class="breadcrumb">
        <li><%= link_to 'Inicio', root_path %></li>
        <li><%= link_to 'Productos', products_path %></li>
        <li><%= @product.name %></li>
      </ul>
      <div class="row page-top">
        <div class="col-sm-6 col-sm-offset-3">
          <h1 class="product__heading"><%= @product.name %></h1>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="row product__main">
        <div class="col-sm-5 col-sm-offset-1">

          <div class="tab-content">
            <div role="tabpanel" class="main-image tab-pane active" id="image1"><%= image_tag @product.image1.url(:medium), class: "img-responsive" %></div>
            <% if @product.image2.present? %>
              <div role="tabpanel" class="main-image tab-pane" id="image2"><%= image_tag @product.image2.url(:medium), class: "img-responsive" %></div>
            <% end %>
            <% if @product.image3.present? %>
              <div role="tabpanel" class="main-image tab-pane" id="image3"><%= image_tag @product.image3.url(:medium), class: "img-responsive" %></div>
            <% end %>
          </div>

          <div class="ribbon sale">
            <div class="theribbon">SALE</div>
            <div class="ribbon-background"></div>
          </div>
          <div class="ribbon new">
            <div class="theribbon">NEW</div>
            <div class="ribbon-background"></div>
          </div>

          <div class="row product__thumbs nav nav-tabs" role="tablist">
            <div class="col-xs-4 active" role="presentation"><a href="#image1" aria-controls="image1" role="tab" data-toggle="tab" class="thumb"><%= image_tag @product.image1.url(:small), class: "img-responsive" %></a></div>
            <% if !@product.image2.blank? %>
              <div class="col-xs-4 active" role="presentation"><a href="#image2" aria-controls="image2" role="tab" data-toggle="tab" class="thumb"><%= image_tag @product.image2.url(:small), class: "img-responsive" %></a></div>
            <% end %>
            <% if !@product.image3.blank? %>
              <div class="col-xs-4 active" role="presentation"><a href="#image3" aria-controls="image3" role="tab" data-toggle="tab" class="thumb"><%= image_tag @product.image3.url(:small), class: "img-responsive" %></a></div>
            <% end %>
          </div>

        </div>
        <div class="col-sm-4 col-sm-offset-1">

          <%= form_tag({controller: "shopping_cart", action: "add_product_to_cart"}, method: "post") do %>
            <p class="price"><%="#{@product.points} puntos"%></p>
            <div class="row">
              <div class="col-md-6 col-md-offset-3">
                <div class="form-group">
                  <%= label_tag(:quantity, "Cantidad") %>
                  <%= text_field_tag('quantity', '1', class: "form-control", id: "quantity") %>
                  <%= hidden_field_tag('product_id', @product.id) %>
                </div>
              </div>
            </div>
            <p class="text-center">
              <% if user_signed_in? %>
                <%= button_tag(type: "submit", class: "btn btn-primary btn-yellow") do %>
                    <i class="fa fa-shopping-cart"></i>&nbsp; Agregar al carrito
                <% end %>
              <% else %>
                <%= link_to "#loginModal", "data-toggle" => "modal", class: "btn btn-primary btn-yellow" do %>
                  <i class="fa fa-shopping-cart"></i>&nbsp; Agregar al carrito
                <% end %>
              <% end %>
              <!-- <button type="submit" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>&nbsp; Agregar al carrito</button> -->
              <!-- <button type="submit" data-toggle="tooltip" data-placement="top" title="Add to wishlist" class="btn btn-default"><i class="fa fa-heart-o"></i></button> -->
            </p>
          <% end %>
          <div class="product__details">
            <h4>Descripción</h4>
            <p><%= @product.description %></p>
            <p class="text-muted"><%= "Quedan #{@product.available_qty} Unidades disponibles" %></p>
          </div>
          <!-- <div class="product__social social">
            <h4>Show it to your friends</h4>
            <p><a href="#" data-animate-hover="pulse" class="external facebook"><i class="fa fa-facebook"></i></a><a href="#" data-animate-hover="pulse" class="external gplus"><i class="fa fa-google-plus"></i></a><a href="#" data-animate-hover="pulse" class="external twitter"><i class="fa fa-twitter"></i></a><a href="#" data-animate-hover="pulse" class="email"><i class="fa fa-envelope"></i></a></p>
          </div> -->
        </div>
      </div>
      <!-- <div class="row">
        <div class="col-sm-10 col-sm-offset-1">

          <section class="products-similar">
            <div class="row">
              <div class="col-md-3 col-sm-6">
                <h3>You may also like these products</h3>
              </div>

              <div class="col-md-3 col-sm-6">
                <div class="product">
                  <div class="image"><a href="detail.html"><img src="img/product2.jpg" alt="" class="img-responsive"></a>
                    <div class="quick-view-button"><a href="#" data-toggle="modal" data-target="#product-quick-view-modal" class="btn btn-default btn-sm">Quick view</a></div>
                  </div>
                  <div class="text">
                    <p class="brand"><a href="#"></a></p>
                    <h3> <a href="detail.html">Fur coat</a></h3>
                    <p class="price">$143</p>
                  </div>
                </div>
              </div>

              <div class="col-md-3 col-sm-6">
                <div class="product">
                  <div class="image"><a href="detail.html"><img src="img/product3.jpg" alt="" class="img-responsive"></a>
                    <div class="quick-view-button"><a href="#" data-toggle="modal" data-target="#product-quick-view-modal" class="btn btn-default btn-sm">Quick view</a></div>
                  </div>
                  <div class="text">
                    <p class="brand"><a href="#"></a></p>
                    <h3> <a href="detail.html">Fur coat</a></h3>
                    <p class="price">$113</p>
                  </div>
                </div>
              </div>

              <div class="col-md-3 col-sm-6">
                <div class="product">
                  <div class="image"><a href="detail.html"><img src="img/product1.jpg" alt="" class="img-responsive"></a>
                    <div class="quick-view-button"><a href="#" data-toggle="modal" data-target="#product-quick-view-modal" class="btn btn-default btn-sm">Quick view</a></div>
                  </div>
                  <div class="text">
                    <p class="brand"><a href="#"></a></p>
                    <h3> <a href="detail.html">Fur coat</a></h3>
                    <p class="price">$121</p>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div> -->
      <!-- <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <section>
            <div class="row">
              <div class="col-md-3 col-sm-6">
                <h3>Products viewed recently</h3>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="product">
                  <div class="image"><a href="detail.html"><img src="img/product2.jpg" alt="" class="img-responsive"></a>
                    <div class="quick-view-button"><a href="#" data-toggle="modal" data-target="#product-quick-view-modal" class="btn btn-default btn-sm">Quick view</a></div>
                  </div>
                  <div class="text">
                    <p class="brand"><a href="#"></a></p>
                    <h3> <a href="detail.html">Fur coat</a></h3>
                    <p class="price">$143</p>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="product">
                  <div class="image"><a href="detail.html"><img src="img/product3.jpg" alt="" class="img-responsive"></a>
                    <div class="quick-view-button"><a href="#" data-toggle="modal" data-target="#product-quick-view-modal" class="btn btn-default btn-sm">Quick view</a></div>
                  </div>
                  <div class="text">
                    <p class="brand"><a href="#"></a></p>
                    <h3> <a href="detail.html">Fur coat</a></h3>
                    <p class="price">$113</p>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="product">
                  <div class="image"><a href="detail.html"><img src="img/product1.jpg" alt="" class="img-responsive"></a>
                    <div class="quick-view-button"><a href="#" data-toggle="modal" data-target="#product-quick-view-modal" class="btn btn-default btn-sm">Quick view</a></div>
                  </div>
                  <div class="text">
                    <p class="brand"><a href="#"></a></p>
                    <h3> <a href="detail.html">Fur coat</a></h3>
                    <p class="price">$121</p>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div> -->
    </div>
  </div>
</div>