<div role="navigation" class="navbar navbar-default <%= row_color %>">
  <div class="navbar-header">
    <!-- <button type="button" data-toggle="collapse" data-target=".collapsed-search" class="navbar-toggle btn btn-transparent"><i class="fa fa-search"></i><span class="sr-only">Toggle navigation</span></button> -->
    <!-- <a href="pages/construction" class="navbar-toggle btn btn-transparent"><i class="fa fa-shopping-cart"></i><span class="hidden-xs">3 Items in cart</span></a> -->
    <button type="button" data-toggle="collapse" data-target="#navigation" class="navbar-toggle btn btn-transparent"><i class="fa fa-align-justify"></i><span class="sr-only">Toggle navigation</span></button>
  </div>
  <div id="navigation" class="collapse navbar-collapse <%= row_color %>">
    <ul class="nav navbar-nav">
      <li>
        <%= link_to root_path, class: "navbar-cart" do %>
          <i class="fa fa-home"></i>
        <% end %>
      </li>
      <% unless user_signed_in? %>
        <li><%= link_to "Iniciar Sesión", "#loginModal", "data-toggle" => "modal" %></li>
      <% else %>
        <li><%= link_to "Cerrar Sesión", destroy_user_session_path, method: :delete %></li>
      <% end %>
      <li><%= link_to 'Productos', products_path %></li>
      <li><%= link_to 'Contacto', contacts_path %></li>

      <% if user_signed_in? %>
        <li>
          <%= link_to shopping_cart_show_path, class: "navbar-cart" do %>
            <i class="fa fa-shopping-cart"></i><span>Redimir</span>
          <% end %>
        </li>
        <li>
          <%= link_to user_path(current_user), class: "navbar-cart" do %>
            <i class="fa fa-user"></i><span></span>
          <% end %>
        </li>
      <% else %>
        <li>
          <%= link_to "#loginModal", "data-toggle" => "modal" do %>
            <i class="fa fa-shopping-cart"></i><span>Redimir</span>
          <% end %>
        </li>
        <li>
          <%= link_to "#loginModal", "data-toggle" => "modal" do %>
            <i class="fa fa-user"></i><span></span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <!-- <div class="collapsed-search collapse">
    <form>
      <div class="input-group">
        <input type="text" placeholder="SEARCH" class="form-control"><span class="input-group-btn">
          <button type="button" class="btn"><i class="fa fa-search"></i></button></span>
      </div>
    </form>
  </div> -->
</div>